<div *ngIf="day" style="width:50%; margin:auto; margin-top: 30px;">
    <!-- <h1>{{day.date.toDateString()}}</h1> -->
    <h1>January, {{day.dayNum}} 2023</h1>
    <br>
    <label>Mood:</label>
    <mat-chip-listbox aria-label="moodAria">
        <mat-chip-option value=1 (selectionChange)="updateMood($event)" color="warn">Really Bad Day</mat-chip-option>
        <mat-chip-option value=2 (selectionChange)="updateMood($event)" color="warn">Bad Day</mat-chip-option>
        <mat-chip-option value=3 (selectionChange)="updateMood($event)" color="warn">Kinda Bad Day</mat-chip-option>
        <mat-chip-option value=4 (selectionChange)="updateMood($event)" color="awdaw">Nuetral Day</mat-chip-option>
        <mat-chip-option value=5 (selectionChange)="updateMood($event)" color="primary">Kinda Good Day</mat-chip-option>
        <mat-chip-option value=6 (selectionChange)="updateMood($event)" color="primary">Good Day</mat-chip-option>
        <mat-chip-option value=7 (selectionChange)="updateMood($event)" color="primary">Really Good Day</mat-chip-option>
    </mat-chip-listbox>

    <br>

    <label>Sleep:</label>

    <br>
    <mat-chip-listbox aria-label="sleepAria">
        <mat-chip-option value="1" (selectionChange)="updateSleep($event)" color="warn">No Sleep</mat-chip-option>
        <mat-chip-option value="2" (selectionChange)="updateSleep($event)" color="warn">0-6 Hours</mat-chip-option>
        <mat-chip-option value="3" (selectionChange)="updateSleep($event)" color="primary">6-7 Hours</mat-chip-option>
        <mat-chip-option value="4" (selectionChange)="updateSleep($event)" color="primary">7-8 Hours</mat-chip-option>
        <mat-chip-option value="5" (selectionChange)="updateSleep($event)" color="primary">8-9</mat-chip-option>
        <mat-chip-option value="6" (selectionChange)="updateSleep($event)" color="primary">9+ Hours</mat-chip-option>
    </mat-chip-listbox>

  <!-- <mat-chip-listbox>
        <mat-chip-option style="background-color:#540202;">Really Bad Day</mat-chip-option>
        <mat-chip-option style="background-color:#AB3131">Bad Day</mat-chip-option>
        <mat-chip-option style="background-color:#AB3131">Kinda Bad Day</mat-chip-option>
        <mat-chip-option style="background-color:#EDE086">Nuetral Day</mat-chip-option>
        <mat-chip-option style="background-color:#799163">Kinda Good Day</mat-chip-option>
        <mat-chip-option style="background-color:#799163">Good Day</mat-chip-option>
        <mat-chip-option style="background-color:#507B58">Really Good Day</mat-chip-option>
    </mat-chip-listbox> -->

    <br>

    <label>Exercise Levels:</label>

    <br>
    <mat-chip-listbox >
        <mat-chip-option value="1" (selectionChange)="updateExercise($event)" color="warn">No Exercise</mat-chip-option>
        <mat-chip-option value="2" (selectionChange)="updateExercise($event)" color="primary">Light Exercise</mat-chip-option>
        <mat-chip-option value="3" (selectionChange)="updateExercise($event)" color="primary">Moderate Exercise</mat-chip-option>
        <mat-chip-option value="4" (selectionChange)="updateExercise($event)"color="primary">Great Exercise</mat-chip-option>
    </mat-chip-listbox>

    <br>

    <button mat-raised-button (click)="updateDay()">Submit</button>
    <button mat-raised-button style="margin-left: 15px;" [routerLink]="['']">Back to home</button>


</div>